
 body{
 	margin: 30px; padding: 20px;

 }

div.welcome-message{
	font-family: Arial;
	font-size:30px;
	font-weight:bolder;
	text-align:center;
	
}
p.para1{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    
}
ul {
  list-style-type: bengali;
  margin: 5px;
  padding: 5px;
  width: 200px;
  background-color: transparent;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: all;
  font-size: 20px;
}

/* Change the link color on hover */
li a:hover {
  background-color:#555;
  color: white;
}
div.heading1{
    font-family: sans-serif;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
}
div.poem{
    margin: 60px; 
    padding: 20px;
    background-color: lightblue;
}
#pic {
    width: 70%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
 
  margin-bottom: 50px;
}
table th, td {
   text-align: center; 
}

table.table {
   margin: auto;
   width: 70% !important; 
}